.about {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
   }
   
   .about h1 {
    font-size: 28px;
    color: #333;
   }
   
   .about h2 {
    font-size: 24px;
    color: #777;
   }
   
   .about p {
    font-size: 18px;
    color: #333;
   }
   .section-animation{
    animation: section-active 1s ease-in-out;
    

   }
   @keyframes section-active{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
   }