.bg-35 {
    /* background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: black;
    padding: 21px;
}
body{
    background: url("https://images.unsplash.com/photo-1541323421480-68513be3d209?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3J1bmdlJTIwdGV4dHVyZXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.below {
    transform: translate3d(0, 90px, 0);
}

.about-image.in-view {
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease, opacity 300ms ease;
}