.bg-35 {
    /* background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: black;
    padding: 21px;
}