.group-2 {

    /* background-color: #251d1d; */
    width: 100%;
}

.home{
    /* flex-direction: column-reverse; */
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.overlap {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 10vh 0% 0 10%;
    padding: 10% 0;
    height: 80vh;
    width: 100vw;
    /* background-color: #0000000c; */
}

.wrapper {
    /* position: absolute; */
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 10% 0 0%;
    height: 80vh;
    width: 50vw;
    background-color: #0000000c;

}

.hi-i-am {
    color: #000000;
    font-family: "DM Sans", Helvetica;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.text-wrapper-5 {
    color: var(--gray-3);
    font-family: "DM Sans", Helvetica;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.overlap-group-wrapper {
    display: flex;
    margin-top: 10px;
}

.flex {
    display: flex;
}

  .overlap-group {

    justify-content: center;
    align-items: center;
    background-color: var(--green-2);
    border: 1px solid var(--gray-6);
    width: 150px;
    /* Adjust the width as needed */
}

  .div-wrapper {
    width: 150px;
    justify-content: center;
    align-items: center;
    /* background-color: var(--green-2); */
    /* border: 1px solid var(--gray-6); */

}

  .text-wrapper-6,
  .text-wrapper-7 {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 12px;
    font-weight: 500;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* video goes here */

.react-player{
width: 0px !important;
height: 0px !important;
}
.react-player>video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}



.home {
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
    width: 100vw;
}
@media screen and (max-width: 991px) {
    .flex{
        flex-direction: column!important;
    }
    .svg{
        display: none;
    }
}