.navbar {
  position: fixed !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  z-index: 9999;
  /* background-color: rgba(255, 250, 250, 0.277); */
}


.text-wrapper {
  /* background-color: #000000; */
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 20px;
}

.navbar .group {
  display: flex;
}

.group .text-wrapper-2 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 20px;
  /* Adjust spacing between items in the group */
}